@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  
}
/* .navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
} */

/* .navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
} */
/* Style the navbar */

/* --------------------------------------------------------------------------------------*/
.navbar a:hover {
  color: #d9534f;
 
}

/* .content {
  max-width: 600px;
  margin: 40px auto; 
  margin-bottom: 20px;
  padding: 20px;
} */
.clear-hr{
  clear: both;
  visibility: hidden;
}
/* blog previews / list */
.blog-preview {
  padding: 20px 16px 10px 16px;
  margin: 20px 0;
  background-color: #d9534f;
  border-bottom: 1px solid #fafafa;
  border-radius: 25px;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  border-radius: 25px;
}
.blog-preview h2 {
  font-size: 20px;
  /* color: #f1356d; */
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  /* color: #f1356d; */
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  /* color: #f1356d; */
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.mr-10 {
  margin-right: 10px !important;
}
/*-----sidenav styles----*/

/*
two div float beside each other
*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 3fr;
  grid-gap: 10px;
}
.grid-container-desc {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
}
.grid-container-acc {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 10px;
}

#sm-sd-nav{
  border-radius: 25px;
  /* padding-left: 20px;
  padding-top: 10px; */
  padding: 10px 10px 10px 10px;
  height: auto;
}
#desc-container{
  border-radius: 25px; 
  color: white; 
  padding: 7%;
}
/*
Side Nav
*/
.navi1{
	list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  /* background-color: #f1f1f1; */
  /* opacity: 0.6; */
  display:inline-block;
  font-weight: bold;

}
.navilist{
	display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;

  
  }
.navilist:hover {
	/* background-color:black; */
  opacity: 0.8;
	/* color: white; */
  border-radius: 25px;
  }

  /*
Folder Hierarchy
*/
#hierarchy
{
    /* font-family: FontAwesome; */
    font-family: "Quicksand";
    width: 300px;
    font-weight: bold;
}
.foldercontainer, .file, .noitems
{
    display: block;
    padding: 5px 5px 5px 50px;
}
/* .folder
{
    color: white
}
.file
{
    color: #ced4da;
} */
.folder, .file
{
    cursor: pointer;
    
}
.noitems
{
    display: none;
    pointer-events: none;
}
.folder:hover,.file:hover
{
    /* background: #adb5bd; */
    color: black;
}
.folder:before, .file:before
{
    padding-right: 10px;
}

.link-dec{
  text-decoration: none;
}
.home{
  margin: 10px 10px 10px 20px;
  
}
#layoutAuthentication {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#layoutAuthentication #layoutAuthentication_content {
  min-width: 0;
  flex-grow: 1;
}
#layoutAuthentication #layoutAuthentication_footer {
  min-width: 0;
}
.mar-top{
  margin-top: 15px;
  /* color: #f1356d; */
}
.sm-mar-top{
  margin-top: -7px;
  /* color: #f1356d; */
}
